body {
  background-color: #DBC78B;
  font-family: Georgia, serif;
  color: #464426;
}

header {
  background-color: #8397A6;
 /* position: fixed;*/
  width: 100%;
}

main {
  position: relative;
}

.data {
  font-family: Verdana, sans-serif;
  color: #162215;
  text-align: right;
}

.highlight, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #8D3722;
}

.box {
  background-color: #C97954;
  border-radius: 5px;
  font-size: 18px;
}

#logo {
  height: 50px;
  margin: 10px, 20px, 10px, auto;
}

div#table {
  padding-top: 20px;
  padding-bottom: 20px;
}


th {
  padding: 8px;
  text-transform: uppercase;
}

td {
  padding: 8px;
}

form#shopform {
  /*padding: 2% 5%;*/

}
